.transaction-history {
    background: var(--ui-main-color-primary-pressed);
    padding: 6px 12px;
}

.trs-history-title {
    color: white;
    font-size: 16px;

}

.trs-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 24px;
}

.trs-item{
    color: white;
}